:root {
  /*--primaryExtension: #227093;*/
  --primaryExtension: rgba(83, 83, 95, 0.38); /*#9147ff;*/
  --secondaryExtension: #ff5252;
  --backgroundExtension: #eee;
  --highlightExtension: #ffda79;
  /* Theme color */
  --themeExtension: var(--primaryExtension);
}

/* Core styles/functionality */
.tabExtension input {
  position: absolute;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.tab__content {
  max-height: 255px;
}



/* Visual styles */
.accordionExtension {
  box-sizing: border-box;
  color: var(--themeExtension);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.show {
  display: auto;
}

.tab__exportButton {
  width: 20px;
  color:#efeff1;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.tab__importButton {
  width: 20px;
  color:#efeff1;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.tab__clearButton {
  color:#efeff1;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.tab__clearButton:hover {
  background-color: lightgrey;
  color: #fff;
}

.last-item {
  margin-left: auto;
  margin-top: 3px;
}

.flex-container {
  display: flex;
  justify-content: space-between; 
}

.bg-primary {
  background-color: var(--primaryExtension);
}

.tab__label {
  padding: 1rem;
  height: 39.5px;
  margin-bottom: 12px;
  text-align: center;
  color: #fff;
  font-family: 'Pacifico';
  font-size: 20px;
}

.arrowExtension {
  float: right;
  position: relative;
}

.arrowExtension::after {
  content: "\276F";
  color: white;
  cursor: pointer;
  position: absolute;
  width: 1em;
  height: 1em;
  text-align: center;
  transform: var(--arrowTransform);
  transition: transform 0.35s ease;
  right: 15px;
  top: 12px;
  font-size: 18px;
}

.rotate::after { /* checked */
  transform: rotate(270deg);
}

.tab__content p {
  margin: 0;
  padding: 1rem;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --themeExtension: var(--secondaryExtension);
}

.tabExtension + .flex-container > .arrowExtension::after  { /* not */
  margin-bottom: 10px;
  margin-right: 0px;
}

/* Arrow animation */
.arrowExtension:hover::after { /* not */
  animation: bounce .7s infinite;
}
@keyframes bounce {
  25% {
    transform: var(--arrowTransform) translate(.25rem);
  }
  75% {
    transform: var(--arrowTransform) translate(-.25rem);
  }
}
